.input-text:focus + .input-floating-label .input-floating-content,
input:not(:placeholder-shown) + .input-floating-label .input-floating-content {
  transform: translateY(-80%);
  font-size: 14px;
  color: #5fa8d3;
}

.input-text:focus + .input-floating-label::after,
input:not(:placeholder-shown) + .input-floating-label::after {
  transform: translateX(0%);
}

.input-text-container label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.input-floating-content {
  position: absolute;
  bottom: 5px;
  right: 2px;
  transition: all 0.3s ease;

  @media only screen and (max-width: 620px) {
    font-size: 2rem;
  }
}
